body {
  text-align: center;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/088/759/original/sky.jpg?1688744696");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lobster", cursive;
  font-family: "PT Mono", monospace;
  font-family: "Roboto Slab", serif;
}
.container {
  text-align: center;
  background: #defcf9;
  max-width: 600px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: "Lobster", cursive;
  font-family: "PT Mono", monospace;
  font-family: "Roboto Slab", serif;
}

.date-time {
  font-size: 18pt;
}

.main-city-degree h1 {
  font-size: 50pt;
  padding-bottom: 0;
  margin-bottom: 0;
}
.current-degree {
  font-size: 35pt;
  padding-bottom: 50px;
  margin-bottom: 30px;
}
.main-city-high-low {
  font-size: 18pt;
}
.big-icon {
  font-size: 100pt;
  padding-bottom: 0;
  margin-bottom: 0;
}
.weather-icon {
  font-size: 30pt;
}
.high-low {
  color: rgb(50, 49, 49);
}
.bold {
  font-weight: bold;
}
.footer {
  font-size: 11pt;
  margin-top: 5px;
  margin-bottom: 0;
  background-color: rgba(222, 236, 249, 0.9);
}
